<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0c393917-748e-4e65-abba-5398c447d1da/resourcegroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/SampleAppNetCore20230110134745</ResourceId>
    <ResourceGroup>cloud-shell-storage-eastus</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sampleappnetcore20230110134745.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cf1ad456-d141-4ae2-ad7a-c2aa5204b85a</ProjectGuid>
    <PublishUrl>https://sampleappnetcore20230110134745.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SampleAppNetCore20230110134745</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>